<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseMetrics - Teacher</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <h3 class="logo">CourseMatrics</h3>
        <h5>Navigation</h5>
        <!-- <button class="dropdown-btn sidenav-active-link"><span><i class="fa fa-tachometer"></i> Dashboard</span><span><i
                    class="fa fa-angle-down fa-lg" style="float: right;"></i></span> </button>
        <div class="dropdown-container sidenav-active-set">
            <a href=""><button><i class="fa fa-angle-right"></i> Default</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> CRM</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> Analytics</button></a>
        </div> -->
        <a href="index.html"><button class=""><i class="fa fa-tachometer"></i>Home</button></a>
        <h5>Student</h5>
        <a href="student.html"><button class=""><i class="fa fa-file"></i> Student Dashboard</button></a>
        <a href="student_attendance.html"><button class=""><i class="fa fa-book"></i>
                Attendance</button></a>
        <h5>Teacher</h5>
        <a href="attendance_form.html"><button class=""><i class="fa fa-paperclip"></i>
                Attendance Form</button></a>
        <a href="teachers_marks.html"><button class=""><i class=" fa fa-line-chart"></i>
                    Marks Analysis</button></a>
        <h5>Admin</h5>
        <a href="admin_confirm.html"><button class="sidenav-active-link"><i class="fa fa-paperclip"></i>
            Student Confirmation</button></a>
        <!--<button class=""><i class="fa fa-rocket"></i> Widget</button>
        <h5>UI Widgets</h5>
        <button class="dropdown-btn"><i class="fa fa-cube"></i>Basic<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-paint-brush"></i>Advanced<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-puzzle-piece"></i>Extra<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-video-camera"></i>Animations<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>

        </div>-->
        <div>

            <a href="javascipt:void(0)" class="closebtn">
                <i class="fa fa-angle-left" onclick="toggleF()"></i>
            </a>
        </div>

    </div>
    <div class="flexArea" id="flexArea">
        <div class="navbar">
            <div class="openbtnhide"><a href="javascipt:void(0)"></a><i class="fa fa-bars fa-lg "
                    onclick="toggleF()"></i>
                </a></div>
            <div>

            </div>

            <ul id="usernav">

                <li><i class="fa fa-bell fa-lg"></i></li>
                <li><i class="fa fa-comment-o fa-lg"></i></li>

                <li><i class="fa fa-user fa-lg"></i> Hayden Cordeiro</li>
            </ul>


        </div>



        <div class="content-area">
            <div class="flexContainer" id="dashboardLineContainer">
                <div class="flex-40 dashboardLine">
                    <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
                    <div style="margin-bottom: 0;margin-top: 0;">
                        <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Admin Dashboard</small> </h3>
                        <p style="margin-bottom: 0;margin-top: 0;"><small>Confirm Applications</small> </p>
                    </div>

                </div>
                <div class="flex-40-end">
                    <ul class="breadcrumb" style="float: right;">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><small>Admin</small></li>
                    </ul>
                </div>
            </div>
        </div>

        <h2 style="margin: 1% 2.5% 1% 2.5%;">Confirm Admission</h2>

        <!-- <div style=""> -->
        <div class="table_search cardRow1 tablecard" style="justify-content: flex-start;">

            <div>
                <div class="dropdown">
                    <button class="dropbtn">Year<i class="fa fa-caret-down" aria-hidden="true"
                            style="margin-left: 10px;"></i></button>
                    <div class="dropdown-content">
                        <a href="#">First Year</a>
                        <a href="#">Second Year</a>
                        <a href="#">Third Year</a>
                        <a href="#">Fourth Year</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="dropdown">
                    <button class="dropbtn">Branch<i class="fa fa-caret-down" aria-hidden="true"
                            style="margin-left: 10px;"></i></button>
                    <div class="dropdown-content">
                        <a href="#">Computer</a>
                        <a href="#">IT</a>
                        <a href="#">EXTC</a>
                        <a href="#">Mechanical</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardRow2 tablecard">
            <div style="display: flex;flex-wrap: wrap;" class="table_inside_row">
                <div style="flex:0 0 60%;flex-grow: 3;">
                    <input type="text" id="search_box" placeholder="Search .." style="margin: 1%;width: 95%;">
                </div>
                <div style="margin-top: 1.5%;">
                    <div class="dropdown">
                        <button class="dropbtn btn-success">Admit</button>
                    </div>
                </div>
                <div style="margin-top: 1.5%;">
                    <div class="dropdown">
                        <button class="dropbtn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
            <table class="attendance_form_table">
                <thead>
                    <tr>
                        <th>Admit</th>
                        <th>Roll No.</th>
                        <th>Student ID</th>                        
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody id="attendance_form_table_data">
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>1</td>
                        <td>218120120120</td>
                        <td>Grejo Joby</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>2</td>
                        <td>218120120121</td>
                        <td>Hayden Cordeiro</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>3</td>
                        <td>218120120122</td>
                        <td>Manasi Anantpurkar</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>4</td>
                        <td>218120120123</td>
                        <td>Jivin Varghese</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>5</td>
                        <td>218120120124</td>
                        <td>Pakshal Ranawat</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>6</td>
                        <td>218120120125</td>
                        <td>John Doe</td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>7</td>
                        <td>218120120126</td>
                        <td>John Foe</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- </div> -->
        <br><br>

        <!-- Footer -->
        <div class="navbar" style="display: flex;justify-content: center;align-items: center; color: #A9A9A9;">
            <h4>Copyrights @ CourseMetrics 2020</h4>
        </div>

    </div>



    </div>
    <script src="js/script.js"></script>

    <script>

        $(document).ready(function () {
            $("#search_box").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#attendance_form_table_data tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</body>

</html>