{% extends 'base.html' %}
{% block title %}
</title>Books Store</title>
{% endblock %}

{% block body %}

<div class="content-area">
    <div class="flexContainer" id="dashboardLineContainer">
        <div class="flex-40 dashboardLine">
            <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
            <div style="margin-bottom: 0;margin-top: 0;">
                <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Books Store</small> </h3>
                <p style="margin-bottom: 0;margin-top: 0;"><small>Import Books</small> </p>
            </div>

        </div>

    </div>
</div>

<h2 style="margin: 1% 2.5% 1% 2.5%;">Buy some books!</h2>
<div class="cardRow2 tablecard">
    <form method="POST">
        <div style="display: flex;flex-wrap: wrap;align-items: center;" class="table_inside_row">
            <div style="flex:0 0 60%;flex-grow: 3;">
                <input type="text" id="search_box" name="search_box" placeholder="Search .." value="{{search}}"
                    style="margin: 1%;width: 95%;">
            </div>
            <div>
                <input type="submit" value="Search" class="dropbtn">
            </div>
    </form>

</div>
<table class="attendance_form_table">
    <thead>
        <tr style="text-align: left;">
            <th>Book ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Qty</th>
            <th>Import</th>
        </tr>
    </thead>
    <tbody id="attendance_form_table_data">
        {%for book in books %}
        <tr>
            <form method="POST" action="/books/import/{{book['isbn']}}">
                <td>{{book["bookID"]}}</td>
                <td>{{book["title"]}}</td>
                <td>{{book["authors"]}}</td>
                <td>
                    <input type="text" id="qty" name="qty" style="width: 45%;" required aria-required="true">
                </td>

                <td><button type="submit"
                            class="dropbtn btn-danger">Import</button></td>

            </form>
        </tr>
        {%endfor%}

    </tbody>
</table>
<a href="/books_store/{{page_no}}/{{search}}">Next Page</a>
</div>
<script>

    $(document).ready(function () {
        $("#search_box").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#attendance_form_table_data tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}