{% extends 'base.html' %}
{% block title %}
</title>Library</title>
{% endblock %}

{% block body %}


<div class="content-area">
    <div class="flexContainer" id="dashboardLineContainer">
        <div class="flex-40 dashboardLine">
            <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
            <div style="margin-bottom: 0;margin-top: 0;">
                <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Dashboard</small> </h3>
                <p style="margin-bottom: 0;margin-top: 0;"><small>Lorem, ipsum dolor sit.</small> </p>
            </div>

        </div>
        <div class="flex-40-end">
            <ul class="breadcrumb" style="float: right;">
                <li><a href="#"><i class="fa fa-home"></i></a></li>
                <li><small>Dashboard</small></li>
            </ul>
        </div>
    </div>

    <div class="flexContainer">
        <div class="flex-50 chartCard card" style="flex: 0 0 30%;">
            <h4><strong>Most Popular Books</strong></h4>
            <div style="width: 80%;margin: auto;">
                <table class="attendance_form_table">
                    <!-- <thead>
                        <tr style="text-align: left;">
                            <th>Title</th>
                            <th>Times Issued</th>
                        </tr>
                    </thead> -->
                    <tbody id="attendance_form_table_data">
                        {%for book in most_popular %}
                        <tr>
                            <!-- <td><input type="checkbox" name="" id=""></td> -->
                            <td>{{book.title}}</td>
                            <td>{{book.timesIssued}}</td>
                        </tr>
                        {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-50 chartCard card" style="flex: 0 0 30%;">
            <h4><strong>Highest Paying Customers</strong></h4>
            <div style="width: 80%;margin: auto;">
                <table class="attendance_form_table">
                    <!-- <thead>
                        <tr style="text-align: left;">
                            <th>Title</th>
                            <th>Times Issued</th>
                        </tr>
                    </thead> -->
                    <tbody id="attendance_form_table_data">
                        {%for book in most_popular %}
                        <tr>
                            <!-- <td><input type="checkbox" name="" id=""></td> -->
                            <td>{{book.title}}</td>
                            <td>{{book.timesIssued}}</td>
                        </tr>
                        {%endfor%}

                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex-40 verticalFlex" style="flex: 0 0 30%;">
            <div class="card verticalFlexItem" style="margin-bottom: 1.5%;">
                <h6>Total Customers</h6>
                <h3 style="color: #4098FE;">1250</h3>
                <!-- <h5>May 2020 - June 2021</h5> -->
            </div>
            <div class="card verticalFlexItem" style="margin-bottom: 1%; margin-top:1%;">
                <h6>Total Books in Stock</h6>
                <h3 style="color: #FF5370;">1250</h3>
                <!-- <h5>May 2020 - June 2021</h5> -->
            </div>
            <div class="card verticalFlexItem" style="margin-top: 1.5%;">
                <h6>Visitors</h6>
                <h3 style="color: #FFB64D;">1250</h3>
                <!-- <h5>May 2020 - June 2021</h5> -->
            </div>

        </div>
    </div>

</div>
{% endblock %}