<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseMetrics - Student</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
        <style>
            table {
                border-collapse: collapse;
                width: 100%;
            }

            th, td {
                padding: 15px;
                text-align: left;
                border-bottom: 1px solid #ddd;
            }

            tr:hover {background-color:#f5f5f5;}
            </style>

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <h3 class="logo">CourseMatrics</h3>
        <h5>Navigation</h5>
        <!-- <button class="dropdown-btn sidenav-active-link"><span><i class="fa fa-tachometer"></i> Dashboard</span><span><i
                    class="fa fa-angle-down fa-lg" style="float: right;"></i></span> </button>
        <div class="dropdown-container sidenav-active-set">
            <a href=""><button><i class="fa fa-angle-right"></i> Default</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> CRM</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> Analytics</button></a>
        </div> -->
        <a href="index.html"><button><i class="fa fa-tachometer"></i>Home</button></a>
        <h5>Student</h5>
        <a href="student.html" class="sidenav-active-link"><button class=""><i class="fa fa-file"></i> Student
                Dashboard</button></a>
        <a href="student_attendance.html"><button class=""><i class="fa fa-book"></i> Attendance</button></a>
        <h5>Teacher</h5>
        <a href="attendance_form.html"><button class=""><i class="fa fa-paperclip"></i>
            Attendance Form</button></a>
            <a href="teachers_marks.html"><button class=""><i class=" fa fa-line-chart"></i>
                Marks Analysis</button></a>
                <h5>Admin</h5>
                <a href="admin_confirm.html"><button class=""><i class="fa fa-paperclip"></i>
                    Student Confirmation</button></a>
        <!--<button class=""><i class="fa fa-rocket"></i> Widget</button>
        <h5>UI Widgets</h5>
        <button class="dropdown-btn"><i class="fa fa-cube"></i>Basic<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-paint-brush"></i>Advanced<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-puzzle-piece"></i>Extra<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
        </div>
        <button class="dropdown-btn"><i class="fa fa-video-camera"></i>Animations<i class="fa fa-angle-down fa-lg"
                style="float: right;"></i></button>
        <div class="dropdown-container">
            <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>

        </div>-->
        <div>

            <a href="javascipt:void(0)" class="closebtn">
                <i class="fa fa-angle-left" onclick="toggleF()"></i>
            </a>
        </div>

    </div>
    <div class="flexArea" id="flexArea">
        <div class="navbar">
            <div class="openbtnhide"><a href="javascipt:void(0)"></a><i class="fa fa-bars fa-lg "
                    onclick="toggleF()"></i>
                </a></div>
            <div>

            </div>

            <ul id="usernav">

                <li><i class="fa fa-bell fa-lg"></i></li>
                <li><i class="fa fa-comment-o fa-lg"></i></li>

                <li><i class="fa fa-user fa-lg"></i> Hayden Cordeiro</li>





            </ul>


        </div>



        <div class="content-area">
            <div class="flexContainer" id="dashboardLineContainer">
                <div class="flex-40 dashboardLine">
                    <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
                    <div style="margin-bottom: 0;margin-top: 0;">
                        <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Student Dashboard</small> </h3>
                        <p style="margin-bottom: 0;margin-top: 0;"><small>Information and Analytics</small> </p>
                    </div>

                </div>
                <div class="flex-40-end">
                    <ul class="breadcrumb" style="float: right;">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><small>Student</small></li>
                    </ul>
                </div>
            </div>
            <h2 style="margin: 1% 2.5% 0 2.5%;">Upcoming Events</h2>
            <div class="flexContainer">
                <div class="flex-30 card4Table card-grid-container" style="flex: 0 0 30%;">
                    <div class="cardRow1">
                        <div style="display: flex;flex-wrap: wrap;">
                            <div style="align-self: center;">
                                <!-- <i class="fa fa-user-circle fa-3x" style="color: #4099ff;"></i> -->
                                <h2 class="profileLetter" style="background-color: #4099ff;">A</h2>
                            </div>

                            <div style="text-align: left;align-self: center;font-size: 15px;">
                                <b>ACM-DBIT</b><br> acmdbit@gmail.com
                            </div>
                        </div>

                        <div class="tableFees">
                            Rs. 100
                        </div>
                    </div>

                    <div class="cardRow2">
                        <h4>C++ Workshop</h4>
                    </div>

                    <div class="cardRow3">
                        <p style="flex: 0 0 40%;margin-left: 5%;">03-02-2020</p>
                        <p style="flex: 0 0 50%;justify-self: flex-end;color: #449cfc;text-align: right;">
                            <b>Register</b></p>
                    </div>
                </div>
                <div class="flex-30 card4Table card-grid-container" style="flex: 0 0 30%;">
                    <div class="cardRow1">
                        <div style="display: flex;flex-wrap: wrap;">
                            <div style="align-self: center;">
                                <!-- <i class="fa fa-user-circle fa-3x" style="color: #4099ff;"></i> -->
                                <h2 class="profileLetter" style="background-color: #2ED8B6;">C</h2>
                            </div>

                            <div style="text-align: left;align-self: center;font-size: 15px;">
                                <b>CSI-DBIT</b><br> csidbit@gmail.com
                            </div>
                        </div>

                        <div class="tableFees">
                            Rs. 100
                        </div>
                    </div>

                    <div class="cardRow2">
                        <h4>Game Of Codes</h4>
                    </div>

                    <div class="cardRow3">
                        <p style="flex: 0 0 40%;margin-left: 5%;">03-02-2020</p>
                        <p style="flex: 0 0 50%;justify-self: flex-end;color: #449cfc;text-align: right;">
                            <b>Register</b></p>
                    </div>
                </div>
                <div class="flex-30 card4Table card-grid-container" style="flex: 0 0 30%;">
                    <div class="cardRow1">
                        <div style="display: flex;flex-wrap: wrap;">
                            <div style="align-self: center;">
                                <!-- <i class="fa fa-user-circle fa-3x" style="color: #4099ff;"></i> -->
                                <h2 class="profileLetter" style="background-color: #FFB64D;">I</h2>
                            </div>

                            <div style="text-align: left;align-self: center;font-size: 15px;">
                                <b>IEEE-DBIT</b><br> ieeedbit@gmail.com
                            </div>
                        </div>

                        <div class="tableFees">
                            Rs. 100
                        </div>
                    </div>

                    <div class="cardRow2">
                        <h4>Arduino Workshop</h4>
                    </div>

                    <div class="cardRow3">
                        <p style="flex: 0 0 40%;margin-left: 5%;">03-02-2020</p>
                        <p style="flex: 0 0 50%;justify-self: flex-end;color: #449cfc;text-align: right;">
                            <b>Register</b></p>
                    </div>
                </div>
            </div>


            <h2 style="margin: 1% 2.5% 1% 2.5%;">Attendance</h2>
            <div class="cardRow1 chart">
                <div style="flex: 0 0 50%; height:40vh; width:100% ; flex-wrap: wrap;">
                    <canvas id="attChart"></canvas>
                </div>
                <div style="flex: 0 0 50%; height:40vh; width:100%; flex-wrap: wrap;">
                    <canvas id="line-chart"></canvas>
                </div>
            </div>

            <h2 style="margin: 1% 2.5% 1% 2.5%;">Marks</h2>
            <div class="cardRow1 chart">
                <table>
                    <tr>
                      <th>Sr. No.</th>
                      <th>Subjects</th>
                      <th>IA-1(Out of 20)</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Microprocessors</td>
                      <td>17</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>TCS</td>
                      <td>20</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>CN</td>
                      <td>19</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>DBMS</td>
                      <td>17</td>
                    </tr>
                  </table>
            </div>

        </div>
        
               
        <!-- Footer -->
        <div class="navbar" style="display: flex;justify-content: center;align-items: center; color: #A9A9A9;">
            <h4>Copyrights @ CourseMetrics 2020</h4>
        </div>

    </div>
    <script src="js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script>
        var canvas = document.getElementById("attChart");
        var ctx = canvas.getContext('2d');

        // Global Options:
        Chart.defaults.global.defaultFontColor = 'black';
        Chart.defaults.global.defaultFontSize = 16;

        var data = {
            labels: ["MP", "TCS", "Computer Networks", "Algorithms", "DBMS"],
            datasets: [
                {
                    fill: true,
                    backgroundColor: [
                        "#4098FE",
                        "#FF5370",
                        "#FFB64D",
                        "#2ED8B6",
                        "lightsalmon",
                    ],
                    /*backgroundColor: [
                        "#2ecc71",
                        "#3498db",
                        "#95a5a6",
                        "#9b59b6",
                        "#f1c40f",
                    ],*/
                    /*backgroundColor: [ //Alternative colours
                        '#FFF1C9',
                        '#F7B7A3',
                        '#EA5F89',
                        '#9B3192',
                        '#57167E'
                    ],*/
                    data: [10, 10, 20, 30, 30],
                    borderWidth: [2, 2, 2, 2, 2]
                }
            ]
        };

        // Notice the rotation from the documentation.

        var options = {
            title: {
                display: true,
                position: 'top'
            },
            responsive: true,
            maintainAspectRatio: false,
            label: { responsive: true, }
        };


        // Chart declaration:
        var myBarChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });

        //Code for Line Chart
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
                datasets: [{
                    data: [86, 80, 75, 78, 60],
                    label: "MP",
                    borderColor: "#3e95cd",
                    fill: false
                }, {
                    data: [90, 95, 100, 88, 81],
                    label: "CN",
                    borderColor: "#8e5ea2",
                    fill: false
                }, {
                    data: [76, 87, 83, 80, 89],
                    label: "TCS",
                    borderColor: "#3cba9f",
                    fill: false
                },
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'World population per region (in millions)',
                    responsive: true,
                },

                label: { responsive: true, },
                responsive: true,
                maintainAspectRatio: false,
            }
        });

    </script>
    
</body>

</html>