<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourseMetrics</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>
    <div id="mySidenav" class="sidenav">
        <h3 class="logo">CourseMatrics</h3>
        <h5>Navigation</h5>
        <!-- <button class="dropdown-btn sidenav-active-link"><span><i class="fa fa-tachometer"></i> Dashboard</span><span><i
                    class="fa fa-angle-down fa-lg" style="float: right;"></i></span> </button>
        <div class="dropdown-container sidenav-active-set">
            <a href=""><button><i class="fa fa-angle-right"></i> Default</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> CRM</button></a>
            <a href=""><button><i class="fa fa-angle-right"></i> Analytics</button></a>
        </div> -->
        <a href="#"><button class="sidenav-active-link"><i class="fa fa-tachometer"></i>Home</button></a>
        <h5>Student</h5>
        <a href="student.html"><button class=""><i class="fa fa-file"></i> Student Dashboard</button></a>
        <a href="student_attendance.html"><button class=""><i class="fa fa-book"></i> Attendance</button></a>
        <h5>Teacher</h5>
        <a href="teachers_marks.html"><button class=""><i class=" fa fa-line-chart"></i>
                Marks Analysis</button></a>
        <!--
    <button class=""><i class="fa fa-rocket"></i> Widget</button>
    <h5>UI Widgets</h5>
    <button class="dropdown-btn"><i class="fa fa-cube"></i>Basic<i class="fa fa-angle-down fa-lg"
            style="float: right;"></i></button>
    <div class="dropdown-container">
        <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
    </div>
    <button class="dropdown-btn"><i class="fa fa-paint-brush"></i>Advanced<i class="fa fa-angle-down fa-lg"
            style="float: right;"></i></button>
    <div class="dropdown-container">
        <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
    </div>
    <button class="dropdown-btn"><i class="fa fa-puzzle-piece"></i>Extra<i class="fa fa-angle-down fa-lg"
            style="float: right;"></i></button>
    <div class="dropdown-container">
        <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>
    </div>
    <button class="dropdown-btn"><i class="fa fa-video-camera"></i>Animations<i class="fa fa-angle-down fa-lg"
            style="float: right;"></i></button>
    <div class="dropdown-container">
        <a href=""><button><i class="fa fa-angle-right"></i>Square</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Rectangle</button></a>
        <a href=""><button><i class="fa fa-angle-right"></i>Circle</button></a>

    </div>-->
        <div>

            <a href="javascipt:void(0)" class="closebtn">
                <i class="fa fa-angle-left" onclick="toggleF()"></i>
            </a>
        </div>

    </div>
    <div class="flexArea" id="flexArea">
        <div class="navbar">
            <div class="openbtnhide"><a href="javascipt:void(0)"></a><i class="fa fa-bars fa-lg "
                    onclick="toggleF()"></i>
                </a></div>
            <div>

            </div>

            <ul id="usernav">

                <li><i class="fa fa-bell fa-lg"></i></li>
                <li><i class="fa fa-comment-o fa-lg"></i></li>

                <li><i class="fa fa-user fa-lg"></i> Hayden Cordeiro</li>





            </ul>


        </div>

        <div class="content-area">
            <div class="flexContainer" id="dashboardLineContainer">
                <div class="flex-40 dashboardLine">
                    <i class="fa fa-home fa-2x" style="float: left;" id="homeIcon"></i>
                    <div style="margin-bottom: 0;margin-top: 0;">
                        <h3 style="margin-bottom: 0;margin-top: 2px;"><small>Teacher Dashboard</small> </h3>
                        <p style="margin-bottom: 0;margin-top: 0;"><small>Information and Analytics</small> </p>
                    </div>

                </div>
                <div class="flex-40-end">
                    <ul class="breadcrumb" style="float: right;">
                        <li><a href="#"><i class="fa fa-home"></i></a></li>
                        <li><small>Teacher</small></li>
                    </ul>
                </div>
            </div>


            <div class="table_search cardRow1 tablecard" style="width:100%;justify-content: flex-start;">

                <div>
                    <div class="dropdown">
                        <button class="dropbtn">Year<i class="fa fa-caret-down" aria-hidden="true"
                                style="margin-left: 10px;"></i></button>
                        <div class="dropdown-content">
                            <a href="#">First Year</a>
                            <a href="#">Second Year</a>
                            <a href="#">Third Year</a>
                            <a href="#">Fourth Year</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="dropbtn">Branch<i class="fa fa-caret-down" aria-hidden="true"
                                style="margin-left: 10px;"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Computer</a>
                            <a href="#">IT</a>
                            <a href="#">EXTC</a>
                            <a href="#">Mechanical</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="dropbtn">Subject<i class="fa fa-caret-down" aria-hidden="true"
                                style="margin-left: 10px;"></i></button>
                        <div class="dropdown-content">
                            <a href="#">MP</a>
                            <a href="#">CN</a>
                            <a href="#">TCS</a>
                            <a href="#">AA</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="dropbtn">Exam<i class="fa fa-caret-down" aria-hidden="true"
                                style="margin-left: 10px;"></i></button>
                        <div class="dropdown-content">
                            <a href="#">IA1</a>
                            <a href="#">IA2</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="dropbtn">Month<i class="fa fa-caret-down" aria-hidden="true"
                                style="margin-left: 10px;"></i></button>
                        <div class="dropdown-content">
                            <a href="#">Jan</a>
                            <a href="#">Feb</a>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="margin: 1% 2.5% 0 2.5%;">Marks Analysis</h2>

            <div class="flexContainer">
                <div class="flex-50 chartCard card">
                    <h4> <strong>Class Performance</strong></h4>
                    <div class="chartStyle">
                        <canvas id="markschart" style="width:100%;"></canvas>
                    </div>
                </div>
                <div class="flex-50 verticalFlex">
                    <div class="card verticalFlexItem" style="margin-bottom: 1.5%;">
                        <h6 style="text-align: center;">Highest Performers</h6>
                        <table style="width: 96%;justify-content: center;padding: 4% 2%;margin: auto;height: auto;">
                            <tr><td>1</td><td>Pakshal Ranawat</td></tr>
                            <tr><td>2</td><td>Athira Lonappan</td></tr>
                            <tr><td>3</td><td>Grejo Joby</td></tr>
                            <tr><td>4</td><td>Hayden Cordeiro</td></tr>
                            <tr><td>5</td><td>Manasi Anantpurkar</td></tr>
                        </table>
                    </div>
                    <div class="card verticalFlexItem" style="margin-bottom: 1%; margin-top:1%;">
                        <h6 style="text-align: center;">Lowest Performers</h6>
                        <table style="width: 96%;justify-content: center;padding: 4% 2%;margin: auto;height: auto;">
                            <tr><td>1</td><td>Pakshal Ranawat</td></tr>
                            <tr><td>2</td><td>Athira Lonappan</td></tr>
                            <tr><td>3</td><td>Grejo Joby</td></tr>
                            <tr><td>4</td><td>Hayden Cordeiro</td></tr>
                            <tr><td>5</td><td>Manasi Anantpurkar</td></tr>
                        </table>
                    </div>
                </div>
                <!-- <div class="flex-50 chartCard card">
                    <h4 style="text-align: center;"><strong>Highest Performers</strong></h4>
                    <table style="width: 95%;justify-content: center;padding: 4%;margin: auto;height: auto;">
                        <tr><td>1</td><td>Pakshal Ranawat</td></tr>
                        <tr><td>2</td><td>Athira Lonappan</td></tr>
                        <tr><td>3</td><td>Grejo Joby</td></tr>
                        <tr><td>4</td><td>Hayden Cordeiro</td></tr>
                        <tr><td>5</td><td>Manasi Anantpurkar</td></tr>
                    </table>
                    <h4 style="text-align: center;"><strong>Lowest Performers</strong></h4>
                    <table style="width: 95%;justify-content: center;padding: 4%;margin: auto;height: auto;">
                        <tr><td>1</td><td>Pakshal Ranawat</td></tr>
                        <tr><td>2</td><td>Athira Lonappan</td></tr>
                        <tr><td>3</td><td>Grejo Joby</td></tr>
                        <tr><td>4</td><td>Hayden Cordeiro</td></tr>
                        <tr><td>5</td><td>Manasi Anantpurkar</td></tr>
                    </table>
                </div> -->
                <div class="flex-40 verticalFlex">
                    <div class="card verticalFlexItem" style="margin-bottom: 1.5%;">
                        <h6>Impressions</h6>
                        <h3 style="color: #4098FE;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>
                    <div class="card verticalFlexItem" style="margin-bottom: 1%; margin-top:1%;">
                        <h6>Sales</h6>
                        <h3 style="color: #FF5370;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>
                    <div class="card verticalFlexItem" style="margin-top: 1.5%;">
                        <h6>Visitors</h6>
                        <h3 style="color: #FFB64D;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>

                </div>
            </div>

            <h2 style="margin: 1% 2.5% 0 2.5%;">Attendance Analysis</h2>

            <div class="flexContainer">
                <div class="flex-50 chartCard card" id="lastChart">
                    <h4> <strong>Class Attendance</strong></h4>
                    <div class="chartStyle">
                        <canvas id="attchart" style="width:100%;"></canvas>
                    </div>
                </div>
                <div class="flex-50 chartCard card">
                    <h4><strong>Sales Analytics</strong></h4>
                    <div style="width: 95%;height: 95%;">


                    </div>
                </div>
                <div class="flex-40 verticalFlex">
                    <div class="card verticalFlexItem" style="margin-bottom: 1.5%;">
                        <h6>Impressions</h6>
                        <h3 style="color: #4098FE;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>
                    <div class="card verticalFlexItem" style="margin-bottom: 1%; margin-top:1%;">
                        <h6>Sales</h6>
                        <h3 style="color: #FF5370;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>
                    <div class="card verticalFlexItem" style="margin-top: 1.5%;">
                        <h6>Visitors</h6>
                        <h3 style="color: #FFB64D;">1250</h3>
                        <h5>May 2020 - June 2021</h5>
                    </div>

                </div>
            </div>

        </div>
        <!-- Footer -->
        <div class="navbar" style="display: flex;justify-content: center;align-items: center; color: #A9A9A9;">
            <h4>Copyrights @ CourseMetrics 2020</h4>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
    var canvas = document.getElementById("markschart");
    var ctx = canvas.getContext('2d');

    // Global Options:
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;

    var data = {
        labels: ["0-8", "9-12", "13-17", "18-20"],
        datasets: [
            {
                fill: true,
                backgroundColor: [
                    "#4098FE",
                    "#FF5370",
                    "#FFB64D",
                    "#2ED8B6",
                ],
                /*backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                ],*/
                /*backgroundColor: [ //Alternative colours
                    '#FFF1C9',
                    '#F7B7A3',
                    '#EA5F89',
                    '#9B3192',
                    '#57167E'
                ],*/
                data: [10, 10, 20, 30],
                borderWidth: [2, 2, 2, 2]
            }
        ]
    };

    // Notice the rotation from the documentation.

    var options = {
        title: {
            display: true,
            position: 'top',

        },
        responsive: true,
        maintainAspectRatio: false,
        label: { responsive: true, }
    };


    // Chart declaration:
    var myBarChart = new Chart(ctx, {
        type: 'pie',
        data: data,
        options: options
    });

    var canvasatt = document.getElementById("attchart");
    var ctxatt = canvasatt.getContext('2d');

    // Global Options:
    Chart.defaults.global.defaultFontColor = 'black';
    Chart.defaults.global.defaultFontSize = 16;

    var dataatt = {
        labels: ["Below 50%", "51%-75%", "76% and above"],
        datasets: [
            {
                fill: true,
                backgroundColor: [
                    "#4098FE",
                    "#FF5370",
                    "#FFB64D",
                ],
                /*backgroundColor: [
                    "#2ecc71",
                    "#3498db",
                    "#95a5a6",
                    "#9b59b6",
                    "#f1c40f",
                ],*/
                /*backgroundColor: [ //Alternative colours
                    '#FFF1C9',
                    '#F7B7A3',
                    '#EA5F89',
                    '#9B3192',
                    '#57167E'
                ],*/
                data: [20, 40, 30],
                borderWidth: [2, 2, 2, 2]
            }
        ]
    };

    // Notice the rotation from the documentation.

    var optionsatt = {
        title: {
            display: true,
            position: 'top',

        },
        responsive: true,
        maintainAspectRatio: false,
        label: { responsive: true, }
    };


    // Chart declaration:
    var myBarChartatt = new Chart(ctxatt, {
        type: 'pie',
        data: dataatt,
        options: optionsatt
    });

</script>

</html>